
.navbar {
    background-color: #444;
    color: white;
}
.menu-bars {
    cursor: pointer;
    margin-left: 25px;
    font-size: 25px;
    background: none;
    color: #fff;
}
.nav-menu {
    background-color: #444;
    width: 250px;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.6s;
}
.nav-menu-items {
    width: 100%;
}
.nav-menu.active {
    left: 0;
    transition: .3s;
}
.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    height: 60px;
}
.nav-text a {
    display: flex;
    color: #fff;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
.nav-text:hover {
    background: #888;
}
.navbar-close {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-menu ul li a span {
    margin-left: 16px;
}