/* Nav-bar ONLY */
.navbar {
    background-color: #444;
    color: white;
}
.menu-bars {
    cursor: pointer;
    margin-left: 25px;
    font-size: 25px;
    background: none;
    color: #fff;
}
.nav-menu {
    background-color: #444;
    width: 250px;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.6s;
}
.nav-menu-items {
    width: 100%;
}
.nav-menu.active {
    left: 0;
    transition: .3s;
}
.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    height: 60px;
}
.nav-text a {
    display: flex;
    color: #fff;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
.nav-text:hover {
    background: #888;
}
.navbar-close {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-menu ul li a span {
    margin-left: 16px;
}

/* AccountList ONLY */
.create_account {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 120px;
    border: 1px dashed black;
    border-radius: 8px;
}
.create_account span {
    margin: 0 12px;
}
.account_form {
    height: 100%;
    width: 100%;
    top: 0%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
}
.account_form.active {
    display: flex;
}
.form_container {
    height: 300px;
    width: 350px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account_type {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account_options {
    display: flex;
    gap: 6px;
}
.initial_deposit {
    border: 1px solid black;
}